.buffer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.image-container {
  max-width: 10%;
  max-height: 10%;
  text-align: center;
}

.loading-text {
  margin-top: 10px;
  font-size: 2vw;
  color: #333;
}
