.nav-logo{
    transition: all 0.6s ease-in-out;
    font-size: 1.5rem;
}
.nav-menu-button{
    transition: all 0.6s ease-in-out;
    font-size: 1.5rem;
}

.nav-screen{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.5); 
    transition: all 0.4s ease-in-out;
}

.nav-screen{
    transition: all 0.4s ease-in-out;
}
.nav-screen-off{
    height: 0;
    width: 100vw;
    transform: translateX(300%);

}
.nav-screen-on{
    height: 100vh;
    width: 40vw;
    border-radius: 0;
}

@media only screen and (max-width: 768px) {
    .nav-logo{
        font-size: 1rem;
    }
    .nav-menu-button{
        font-size: 1rem;
    }
    .nav-screen-on{
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }
}